body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: black;
}

.carousel-item {
    height: 100vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .fixed-top {
      background: url("../images/headerColorBlack.png") repeat scroll 0 0 transparent;
  }

.nav-item {
    text-align: center;
}

.nav-link {
    color: #e28327;
    font-family: 'Patrick Hand', cursive;
    font-size: 25px;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
}

.logo {
    max-height: 75px;
}

.carousel-control-down {
    position: absolute;
    bottom: 4em;;
    z-index: 1;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    opacity: .5;
    transition: opacity .15s ease;
}

.down-arrow {
    max-width: 50PX;
}

/* MEDIA QUERIES */

@media screen and (max-width: 1024px) {
    .carousel-item {
        height: 93vh;
    }
  }

  @media screen and (max-width: 576px) {
    .carousel-item {
        height: 91vh;
    }
  }