.carousel-item {
    height: 95vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .fixed-top {
      background: url("../images/headerColorBlack.png") repeat scroll 0 0 transparent;
  }

.nav-link {
    color: #e28327;
    font-family: 'Patrick Hand', cursive;
    font-size: 25px
}

.logo {
    max-height: 75px;
}